@font-face {
    font-family: "kotraLeap";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraLeap/kotraLeap.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraLeap/kotraLeap.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraLeap/kotraLeap.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraLeap/kotraLeap.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraLeap/kotraLeap.ttf") format("truetype");
    font-display: swap;
}
.kotraLeap {
    font-family: "kotraLeap";
}